name: Publish to Comfy Registry

on:
  push:
    branches:
      - main
    paths:
      - "pyproject.toml"

jobs:
  publish_node:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Publish to Comfy Registry
        uses: Comfy-Org/publish-node-action@main
        with:
          personal_access_token: ${{ secrets.REGISTRY_ACCESS_TOKEN }}
